# Kotlin
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs o temporales
*.log
*.tmp

# Archivos y carpetas de IntelliJ IDEA que deben ignorarse
.idea/
*.iml
*.iws
*.ipr
